<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <label><b>Mental Health Information</b></label>
   <br><br>
   <div>
    <form action="/links" method="post">
    <label for="limit">rows per page</label>
    <select name="limit" id="limit" required>
        <option value="" disabled selected>- select -</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
    <br>
    <label for="page">jump to page</label> <input name="page" type="number" placeholder="enter page number">
    <button type="submit">update</button> 
    </form>
</div>
   <table style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
     <thead style="background-color: cornflowerblue; color: white;">
       <tr>
         <th style="text-align: left;">ID</th>
         <th style="text-align: left;">USES FACEBOOK</th>
         <th style="text-align: left;">USES TWITTER</th>
         <th style="text-align: left;">USES INSTAGRAM</th>
         <th style="text-align: left;">USES YOUTUBE</th>
         <th style="text-align: left;">USES DISCORD</th>
         <th style="text-align: left;">USES REDDIT</th>
         <th style="text-align: left;">USES PINTEREST</th>
         <th style="text-align: left;">USES SNAPCHAT</th>
         <th style="text-align: left;">USES TIKTOK</th>
         <th style="text-align: left;">AFFILIATED WITH: <br> UNIVERSITY</th>
         <th style="text-align: left;">AFFILIATED WITH: <br> PRIVATE</th>
         <th style="text-align: left;">AFFILIATED WITH: <br> SCHOOL</th>
         <th style="text-align: left;">AFFILIATED WITH: <br> COMPANY</th>
         <th style="text-align: left;">AFFILIATED WITH: <br> GOVERNMENT</th>
         <th style="text-align: left;">AFFILIATED WITH: <br> NONE</th>


       </tr>
     </thead>
     <tbody style="font-family: Arial; font-size: 9pt;">
      <% for (let iCount = 0; iCount < db.length; iCount++) { %>
         <tr>
           <td><%= db[iCount].id %></td>
           <td><%= db[iCount].pl_fb %></td>
           <td><%= db[iCount].pl_tw %></td>
           <td><%= db[iCount].pl_ig %></td>
           <td><%= db[iCount].pl_yt %></td>
           <td><%= db[iCount].pl_dc %></td>
           <td><%= db[iCount].pl_re %></td>
           <td><%= db[iCount].pl_pt %></td>
           <td><%= db[iCount].pl_sc %></td>
           <td><%= db[iCount].pl_tt %></td>
           <td><%= db[iCount].ao_uv %></td>
           <td><%= db[iCount].ao_pr %></td>
           <td><%= db[iCount].ao_sc %></td>
           <td><%= db[iCount].ao_co %></td>
           <td><%= db[iCount].ao_gt %></td>
           <td><%= db[iCount].ao_na %></td>
           <td style="text-align: center;">
           </td>
         </tr>
      <% } %>
     </tbody>
   </table>
   <br><br>
</body>
</html>