<!DOCTYPE html>
<html lang="en">
<head>
  <script>
    function logout() {
        localStorage.setItem("loggedin", 'False');
        window.location.replace("/");
    }
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
  <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" href="css/styles.css">
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-black fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" id="create"><a class="nav-link" href="/createAccount">Create Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="#dashboard">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="/survey">Survey</a></li>
                    <li class="nav-item"><a class="nav-link" href="/selectdb">Database</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#bagongkwan">More</a></li>
                    <li class="nav-item" onclick="logout()"><a class="nav-link" href="/login" id="login">Login</a></li>
                    <li class="nav-item" id="modify"><a class="nav-link" href="/modify"><i class="fas fa-user"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="projects-section bg-white">
        <div class="row">
            <div class="text-center">
                <h2 id="database"><b>Linking Table Data</b></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-1 my-5 mx-3">
                <span>
                    <button class="btn btn-sm btn-secondary" href="/selectdb">Back</button>
                </span>
            </div>
            <div class="col-6 mx-4 my-5">
                <form action="/links" method="post">
                    <span>
                        <label for="limit">Rows per page</label>
                        <select name="limit" id="limit" required>
                            <option value="" disabled selected>- select -</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </span>
                    <span class="mx-3">
                        <label for="page">Jump to page:</label><input name="page" type="number" placeholder="enter page number">
                        <button class="btn btn-sm btn-secondary" type="submit">Update</button>
                    </span>
                </form>
            </div>
            <div class="col-4 mx-0 my-4">
                <form class="py-4" action="/platfilterid" method="post">
                    <label for="idfilter">Filter:</label>
                    <input type="number" name="idfilter" id="idfilter" placeholder="Survey ID Number" min="1" required>
                    <button class="btn btn-sm btn-secondary" type="submit">Search</button>
                  </form>
            </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row">
            <div class="col-auto mx-2">
                <table style="border-color: inherit; border-style: solid; border-width: 1;">
                    <thead style="border: 1px solid #000;" class="text-center">
                        <tr>
                            <th>ID</th>
                            <th>FACEBOOK</th>
                            <th>TWITTER</th>
                            <th>INSTAGRAM</th>
                            <th>YOUTUBE</th>
                            <th>DISCORD</th>
                            <th>REDDIT</th>
                            <th>PINTEREST</th>
                            <th>SNAPCHAT</th>
                            <th>TIKTOK</th>
                        </tr>
                    </thead>
                    <tbody style="font-family: Arial; font-size: 7pt;">
                        <% for (let iCount = 0; iCount < db.length; iCount++) { %>
                            <tr style="border-bottom: 1px solid #000;">
                                <td><%= db[iCount].id %></td>
                                <td><%= db[iCount].pl_fb %></td>
                                <td><%= db[iCount].pl_tw %></td>
                                <td><%= db[iCount].pl_ig %></td>
                                <td><%= db[iCount].pl_yt %></td>
                                <td><%= db[iCount].pl_dc %></td>
                                <td><%= db[iCount].pl_re %></td>
                                <td><%= db[iCount].pl_pt %></td>
                                <td><%= db[iCount].pl_sc %></td>
                                <td><%= db[iCount].pl_tt %></td>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="col-1"></div>
        </div>
    </section>
    <script>
        if ((localStorage.getItem("loggedin") == 'True') && (localStorage.getItem("admin") == 'True')) {
            document.getElementById("login").href = "#";
            document.getElementById("login").innerHTML = "Logout";
            document.getElementById("create").style.visibility = "visible";
            document.getElementById("modify").style.visibility = "hidden";
        }
        else if ((localStorage.getItem("loggedin") == 'True') && (localStorage.getItem("admin") == 'False')) {
            document.getElementById("login").href = "#";
            document.getElementById("login").innerHTML = "Logout";
            document.getElementById("create").style.visibility = "hidden";
            document.getElementById("modify").style.visibility = "visible";
        }
        // else {
        //     window.location.replace("/login");
        //     alert("You do not have the necessary access to view this page. Please contact your administrator if you think this is a mistake.")
        // }

    </script>
</body>
</html>