<!DOCTYPE html>
<html lang="en">

<head>
  <script>
    function logout() {
      localStorage.setItem("loggedin", 'False');
      window.location.replace("/");
    }
  </script>
  <!-- metadata + bootstrap -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
  <link rel="stylesheet" href="css/styles.css">
  <!-- end metadata + bootstrap -->
  <title>Survey Data - Demographics</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
  <style>
    .horizontal-scroll {
      overflow-x: auto;
      white-space: nowrap;
      width: 100%;
      padding-top: 10rem;
    }
  </style>
</head>

<body>
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg bg-black fixed-top" id="mainNav">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="/#page-top">Home</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" id="create"><a class="nav-link" href="/createAccount">Create Account</a></li>
          <li class="nav-item" id="selectdb"><a class="nav-link" href="/selectdb">Database</a></li>
          <li class="nav-item"><a class="nav-link" href="/#dashboard">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" href="/survey">Survey</a></li>
          <li class="nav-item"><a class="nav-link" href="/#alternatives">More</a></li>
          <li class="nav-item" onclick="logout()"><a class="nav-link" href="/login" id="login">Login</a></li>
          <li class="nav-item" id="modify"><a class="nav-link" href="/modify"><i class="fas fa-user"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- title -->
  <div class="title-center bg-white">
      <h2><b>SURVEY DATA - DEMOGRAPHICS AND BEHAVIOR</b></h2>
  </div>
  <!-- table -->
  <div class="horizontal-scroll">
      <table id="myTable" class="display">
        <thead>
          <tr>
            <th>ID</th>
            <th>TIMESTAMP</th>
            <th>AGE</th>
            <th>GENDER</th>
            <th>RELATIONSHIP STATUS</th>
            <th>OCCUPATION STATUS</th>
            <th>LOCATION</th>
            <th>USE OF SOCIAL MEDIA</th>
            <th>AVERAGE TIME/DAY</th>
            <th>NO SPECIFIC PURPOSE</th>
            <th>DISTRACTED BY SOCIAL MEDIA</th>
            <th>RESTLESS WITHOUT <br> SOCIAL MEDIA</th>
            <th>DISTRACTED IN GENERAL</th>
            <th>BOTHERED BY WORRIES</th>
            <th>DIFFICULT TO CONCENTRATE</th>
            <th>COMPARE TO <br> SUCCESSFUL PEOPLE</th>
            <th>FEELINGS ABOUT COMPARISONS</th>
            <th>SOCIAL VALIDATION</th>
            <th>FEEL DEPRESSED <br> OR DOWN</th>
            <th>INTERESTS FLUCTUATE</th>
            <th>SLEEP ISSUES</th>
          </tr>
        </thead>
        <tbody>
          <% for (let iCount=0; iCount < db.length; iCount++) { %>
            <tr>
              <td>
                <%= db[iCount].unique_id %>
              </td>
              <td>
                <%= db[iCount].timestamp %>
              </td>
              <td>
                <%= db[iCount].age %>
              </td>
              <td>
                <%= db[iCount].gender %>
              </td>
              <td>
                <%= db[iCount].rel_status %>
              </td>
              <td>
                <%= db[iCount].occ_status %>
              </td>
              <td>
                <%= db[iCount].location %>
              </td>
              <td>
                <%= db[iCount].social_media_usage %>
              </td>
              <td>
                <%= db[iCount].avg_time_social %>
              </td>
              <td>
                <%= db[iCount].use_no_purpose %>
              </td>
              <td>
                <%= db[iCount].distracted_social %>
              </td>
              <td>
                <%= db[iCount].restless_no_media %>
              </td>
              <td>
                <%= db[iCount].distracted_general %>
              </td>
              <td>
                <%= db[iCount].bothered_worries %>
              </td>
              <td>
                <%= db[iCount].difficult_concentrated %>
              </td>
              <td>
                <%= db[iCount].compare_successful %>
              </td>
              <td>
                <%= db[iCount].feeling_comparison %>
              </td>
              <td>
                <%= db[iCount].validation_social %>
              </td>
              <td>
                <%= db[iCount].depressed_down %>
              </td>
              <td>
                <%= db[iCount].fluctuate_interests %>
              </td>
              <td>
                <%= db[iCount].sleep_issues %>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table> 
  </div>
  <script>
    $(document).ready( function () {
    $('#myTable').DataTable();
    });

    if ((localStorage.getItem("loggedin") == 'True') && (localStorage.getItem("admin") == 'True')) {
      document.getElementById("login").href = "#";
      document.getElementById("login").innerHTML = "Logout";
      document.getElementById("create").style.visibility = "visible";
      document.getElementById("modify").style.visibility = "hidden";
      document.getElementById("selectdb").style.visibility = "visible";
    }
    else if ((localStorage.getItem("loggedin") == 'True') && (localStorage.getItem("admin") == 'False')) {
      document.getElementById("login").href = "#";
      document.getElementById("login").innerHTML = "Logout";
      document.getElementById("create").style.visibility = "hidden";
      document.getElementById("modify").style.visibility = "visible";
      document.getElementById("selectdb").style.visibility = "visible";
    }
    else {
      window.location.replace("/login");
      alert("You do not have the necessary access to view this page. Please contact your administrator if you think this is a mistake.")
    }
  </script>
</body>

</html>